<!-- <link rel="stylesheet" href="/static/editor.md/css/editormd.min.css" /> -->
<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">
    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">套餐名称&nbsp;<a style="color: red;">*</a></label>
            <div class="layui-input-block">
                <input required type="text" name="Name" id="Name" autocomplete="off" placeholder="" class="layui-input" value="" style="width: 90%">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数    量&nbsp;<a style="color: red;">*</a></label>
            <div class="layui-input-block">
                <input required type="text" name="Count" id="Count" autocomplete="off" placeholder="" class="layui-input" value="" style="width: 90%">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">时长 (天)&nbsp;<a style="color: red;">*</a></label>
            <div class="layui-input-block">
                <input required type="text" name="Equity" id="Equity" autocomplete="off" placeholder="请不要超过两年" class="layui-input" value="" style="width: 90%">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">可用次数&nbsp;<a style="color: red;">*</a></label>
            <div class="layui-input-block">
                <input required type="text" name="ResidueDegree" id="ResidueDegree" autocomplete="off" placeholder="请不要超过 100" class="layui-input" value="" style="width: 90%">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">有 效 期&nbsp;<a style="color: red;">*</a></label>
            <div class="layui-input-block">
                <input required type="text" name="Expire" id="Expire"  autocomplete="off" placeholder="" class="layui-input" style="width: 90%">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描    述</label>
            <div class="layui-input-block">
                <textarea name="Description" id="Description" class="layui-textarea" style="width: 90%"></textarea>
            </div>
        </div>
        
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">生成</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use('laydate', function(){
      var laydate = layui.laydate;
      laydate.render({
        elem: '#Expire',
        type: 'datetime',
        value: new Date(253392455349000),
      });
    });
</script>

<script>
    /**
     * 导出excel
     * @param {Object} title  标题列key-val
     * @param {Object} data   值列key-val
     * @param {Object} fileName  文件名称
     */
    function JSONToExcelConvertor(title, data, fileName) {
        var CSV = '';
        var row = "";

        for (var i = 0; i < title.length; i++) {
            if(title[i].title){
                row += title[i].title + ',';
            }
        }
        row = row.slice(0, -1);
        CSV += row + '\r\n';

        for (var i = 0; i < data.length; i++) {
            var row = "";
            for (var j = 0; j < title.length; j++) {
                if(title[j].title){
                    row += '"' + (data[i][title[j].field] ? data[i][title[j].field] : "") + '"\t,';
                }
            }
            row.slice(0, row.length - 1);
            CSV += row + '\r\n';
        }

        if (CSV == '') {
            alert("Invalid data");
            return;
        }

        var fileName = fileName;
        var uri = new Blob(['\ufeff' + CSV], {type:"text/csv"});

        if (window.navigator && window.navigator.msSaveOrOpenBlob) { // for IE
        window.navigator.msSaveOrOpenBlob(CSV, fileName + ".csv");
        } else { // for Non-IE（chrome、firefox etc.）
        var link = document.createElement("a");
        link.href = URL.createObjectURL(uri);

        link.style = "visibility:hidden";
        link.download = fileName + ".csv";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        }
    }

    var templates = {{.templates}}
    layui.use(['form', 'layer','jquery'],function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.jquery;
        
        form.on('submit(sub)', function(data){
            var form_data = data.field;
            console.log(form_data);
            if (form_data.Name == "" || form_data.Count == "" || form_data.ResidueDegree == "" || form_data.Equity == "") {
                layer.msg("请按要求填写参数", {icon: 2});
                return false;
            }
            $.post('{{.prefix}}/{{.path}}/make', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功",{icon: 1},function () {
                        console.log("success");
                        var titles = [
                            {"field": "Name", "title": "名称"},
                            {"field": "Batch", "title": "批次"},
                            {"field": "Code", "title": "兑换码"},
                            {"field": "Equity", "title": "兑换天数"}, 
                            {"field": "ResidueDegree", "title": "兑换次数"},
                            {"field": "Expire", "title": "兑换过期时间"},
                            {"field": "Description", "title": "备注"},
                        ]
                        JSONToExcelConvertor(titles, out.data, "redeem_code_"+ out.batch)
                        // window.location.href="{{.prefix}}/{{.path}}/list";
                    });
                    return true;
                } else {
                    layer.msg(out.message, {icon: 2});
                    return false;
                }
            }, "json");
            return false;
        });
        form.render();
    }); 
</script>