<!-- <link rel="stylesheet" href="/static/editor.md/css/editormd.min.css" /> -->
<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">
    <form class="layui-form" action="" method="post">
        <input type="hidden" name="id" value="{{.Detail.id}}">
        {{range $i, $item := .display}}
        <div class="layui-form-item">
            <label class="layui-form-label">{{$item.Title}}</label>
            {{if eq $item.DBType $.DisplayType.Char $.DisplayType.Number}}
            <div class="layui-input-block">
                <input {{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}}disabled{{end}} type="text" name="{{$item.Field}}" id="{{$item.Field}}"  autocomplete="off" placeholder="" class="layui-input" value="{{$item.Value}}" style="width: 90%;{{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}};background-color: #f8f8f8;{{end}}">
            {{end}}
            {{if eq $item.DBType $.DisplayType.Bool}}
            <div class="layui-input-block">
                <input {{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}}disabled{{end}} type="checkbox" name="{{$item.Field}}" id="{{$item.Field}}" lay-skin="switch" {{if $item.Value}}checked=""{{end}} style="{{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}};background-color: #f8f8f8;{{end}}">
            {{end}}
            {{if eq $item.DBType $.DisplayType.ForeignKey $.DisplayType.O2O}}
            <div class="layui-input-inline">
                <select {{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}}disabled{{end}} name="{{$item.Field}}" required  lay-search="" case-sensitive="false" style="width: 90%{{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}};background-color: #f8f8f8;{{end}}" value="{{$item.Value}}">
                    <option value="">{{$item.Title}}</option>
                    {{range $index, $elem := $.linkItems}}
                    {{if eq $index $item.Field}}
                    {{range $index2, $link := $elem}}
                    <option value="{{index $link $item.Index}}" {{if (index $link "checked")}}selected=""{{end}}> {{index $link $item.ShowField}}</option>
                    {{end}}
                    {{end}}
                    {{end}}
                </select>
            {{end}}
            {{if eq $item.DBType $.DisplayType.M2M}}
            <div {{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}}disabled{{end}} class="layui-input-block" id="{{$item.Field}}" style="width: 90%;{{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}};background-color: #f8f8f8;{{end}}" value="{{$item.Value}}">
            {{end}}
            {{if eq $item.DBType $.DisplayType.Datetime}}
            <div class="layui-input-block">
                <input {{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}}disabled{{end}} type="text" name="{{$item.Field}}" id="{{$item.Field}}"  autocomplete="off" placeholder="" class="layui-input" value="{{$item.Value}}" style="width: 90%;{{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}};background-color: #f8f8f8;{{end}}">
            {{end}}
            {{if eq $item.DBType $.DisplayType.Time}}
            <div class="layui-input-block">
                <input {{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}}disabled{{end}} type="text" name="{{$item.Field}}" id="{{$item.Field}}"  autocomplete="off" placeholder="" class="layui-input" value="{{$item.Value}}" style="width: 90%;{{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}};background-color: #f8f8f8;{{end}}">
            {{end}}
            {{if eq $item.DBType $.DisplayType.Text}}
            <div class="layui-input-block">
                <textarea {{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}}disabled{{end}} name="{{$item.Field}}" class="layui-textarea" id="{{$item.Field}}" style="width: 90%;{{if or (eq $item.Field $.pkField) (eq $item.Readonly "true")}};background-color: #f8f8f8;{{end}}" value="{{$item.Value}}"></textarea>
            {{end}}
            {{if eq $item.DBType $.DisplayType.File}}
            <div class="layui-upload-drag" name="{{$item.Field}}-File" id="{{$item.Field}}-File">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" id="uploadView-{{$item.Field}}">
                    <hr>
                    <img src="" alt="上传成功后渲染" style="max-width: 196px">
                    <a id="{{$item.Field}}-Path"></a>
                </div>
            </div>
            <div>
                <input class="layui-upload-file" type="text" name="{{$item.Field}}" id="{{$item.Field}}">
            {{end}}
            </div>
        </div>
        {{end}}
        
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button id="submit" class="layui-btn" lay-submit="" lay-filter="sub">保存</button>
                <button id="submit" class="layui-btn" lay-submit="" lay-filter="sub-and-close">保存并关闭</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    function fmtTime(v) {
        return ("00" + parseInt(v/3600)).slice (-2) + ":" + ("00" + parseInt(Math.round(v%3600)/60)).slice (-2) + ":" + ("00" + parseInt(Math.round(Math.round(v%3600)%60))).slice (-2);
    }
    layui.use('laydate', function(){
      var laydate = layui.laydate;
      {{range $i, $item := .display}}
      {{if eq $item.DBType $.DisplayType.Datetime}}
      laydate.render({
        elem: '#{{$item.Field}}',
        type: 'datetime',
        value: new Date({{$item.Value}}),
      });
      {{end}}
      {{if eq $item.DBType $.DisplayType.Time}}
      laydate.render({
        elem: '#{{$item.Field}}',
        type: 'time',
        value: fmtTime({{$item.Value}}),
      });
      {{end}}
      {{end}}
    });
</script>
<script>
    layui.use(['transfer', 'upload'], function(){
    var transfer = layui.transfer;
    var upload = layui.upload;
    var httpClients = {};
    {{range $i, $item := .display}}
    {{if eq $item.DBType $.DisplayType.M2M}}
    transfer.render({
      elem: '#{{$item.Field}}',  //绑定元素
      title: ["未选中", "已选中"]
      ,data: [
        {{range $index, $elem := $.linkItems}}
        {{if eq $index $item.Field}}
        {{range $index2, $link := $elem}}
        {"value": {{index $link $item.Index}}, "title": {{index $link $item.ShowField}}, "disabled": "", "checked": ""},
        {{end}}
        {{end}}
        {{end}}
      ],
      value: [{{range $index, $elem := $.linkItems}}
        {{if eq $index $item.Field}}
        {{range $index2, $link := $elem}}
        {{if (index $link "checked")}}
        {{index $link $item.Index}},
        {{end}}
        {{end}}
        {{end}}
        {{end}}]
      ,id: '{{$item.Field}}' //定义索引
      ,showSearch: true
    });
    {{end}}
    
    {{if eq $item.DBType $.DisplayType.File}}
    httpClients[{{$item.Field}}] = new XMLHttpRequest();

    {{if eq $item.CDN "true"}}
    {{if ne $item.Value ""}}
    var ext = {{$item.Value}}.split(".").pop();
    var img = ['png', 'jpg', 'jpeg', 'bmp', 'gif', 'webp', 'psd', 'svg', 'tiff'].indexOf(ext.toLowerCase()) !== -1;
    if (img) {
        layui.$('#uploadView-{{$item.Field}}').removeClass('layui-hide').find('img').attr(
            'src', 'https://{{$.CDNStatic}}/{{$item.Value}}'
        );
        layui.$('#uploadView-{{$item.Field}}').find('img').removeClass('layui-hide');
        layui.$('#{{$item.Field}}-Path').addClass('layui-hide');
    } else {
        layui.$('#uploadView-{{$item.Field}}').removeClass('layui-hide');
        layui.$('#{{$item.Field}}-Path').removeClass('layui-hide');
        layui.$('#{{$item.Field}}-Path').attr('href', 'https://{{$.CDNStatic}}/{{$item.Value}}');
        layui.$('#{{$item.Field}}-Path').text('https://{{$.CDNStatic}}/{{$item.Value}}');
        layui.$('#uploadView-{{$item.Field}}').find('img').addClass('layui-hide');
    }
    layui.$('#{{$item.Field}}').attr('value', '{{$item.Value}}');
    {{end}}
    {{else}}
    httpClients[{{$item.Field}}].open("GET", '{{$.prefix}}/{{$.path}}/ajaxdownload?path={{$item.Value}}');
    httpClients[{{$item.Field}}].send();

    httpClients[{{$item.Field}}].onreadystatechange = (e) => {
        if (e.currentTarget.readyState == 4 && e.currentTarget.status == 200) {
            data = JSON.parse(e.currentTarget.responseText);
            if (data.status != 0) {
                console.log(data);
                return
            }
            var msg = data.data.path.split("?")[0];
            var ext = msg.split(".").pop();
            var img = ['png', 'jpg', 'jpeg', 'bmp', 'gif', 'webp', 'psd', 'svg', 'tiff'].indexOf(ext.toLowerCase()) !== -1;
            if (img) {
                layui.$('#uploadView-{{$item.Field}}').removeClass('layui-hide').find('img').attr('src', data.data.fullPath);
                layui.$('#uploadView-{{$item.Field}}').find('img').removeClass('layui-hide');
                layui.$('#{{$item.Field}}-Path').addClass('layui-hide');
            } else {
                layui.$('#uploadView-{{$item.Field}}').removeClass('layui-hide');
                layui.$('#{{$item.Field}}-Path').removeClass('layui-hide');
                layui.$('#{{$item.Field}}-Path').attr('href', data.data.fullPath);
                layui.$('#{{$item.Field}}-Path').text(data.data.fullPath);
                layui.$('#uploadView-{{$item.Field}}').find('img').addClass('layui-hide');
            }
            layui.$('#{{$item.Field}}').attr('value', data.data.path);
        }
    }
    {{end}}
    
    
    upload.render({
        elem: '#{{$item.Field}}-File'
        ,accept: 'file'
        ,multiple: false
        ,url: '{{$.prefix}}/{{$.path}}/ajaxupload?path={{$item.Meta}}&blur={{$item.Blur}}'
        ,before: function(obj){
            layer.load();
        }
        ,done: function(res){
            layer.msg('上传成功');
            var msg = res.data.path.split("?")[0];
            var ext = msg.split(".").pop();
            var img = ['png', 'jpg', 'jpeg', 'bmp', 'gif', 'webp', 'psd', 'svg', 'tiff'].indexOf(ext.toLowerCase()) !== -1;
            if (img) {
                layui.$('#uploadView-{{$item.Field}}').removeClass('layui-hide').find('img').attr('src', res.data.fullPath);
                layui.$('#uploadView-{{$item.Field}}').find('img').removeClass('layui-hide')
                layui.$('#{{$item.Field}}-Path').addClass('layui-hide')
            } else {
                layui.$('#uploadView-{{$item.Field}}').removeClass('layui-hide');
                layui.$('#{{$item.Field}}-Path').removeClass('layui-hide');
                layui.$('#{{$item.Field}}-Path').attr('href', res.data.fullPath);
                layui.$('#{{$item.Field}}-Path').text(res.data.fullPath);
                layui.$('#uploadView-{{$item.Field}}').find('img').addClass('layui-hide');
            }
            
            layui.$('#{{$item.Field}}').attr('value', res.data.path);
            console.log(res)
            layer.closeAll('loading');
        }
        ,error: function(index, upload){
            layer.closeAll('loading');
        }
    });
    {{end}}
    {{end}}
  });
</script>
<script>
layui.use(['form','element','table','layer','jquery', 'transfer'],function(){
    var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
    var $ = layui.jquery;
    var table = layui.table;
    var transfer = layui.transfer;

    form.on('submit(sub)', function(data){
        var form_data = data.field;
        {{range $i, $item := .display}}

        {{if eq $item.DBType $.DisplayType.M2M}}
        var srcValues = transfer.getData({{$item.Field}});
        var destValues = []
        for (i=0; i<srcValues.length; i++) {
            destValues.push(srcValues[i].value);
        }
        form_data[{{$item.Field}}] = destValues;
        {{end}}

        {{if eq $item.DBType $.DisplayType.Time}}
        var time = data.field[{{$item.Field}}].split(":");
        form_data[{{$item.Field}}] = parseInt(time[0])*3600 + parseInt(time[1])*60 + parseInt(time[2]);
        {{end}}
        
        {{if eq $item.DBType $.DisplayType.Bool}}
        if (document.getElementById({{$item.Field}}).checked) {
            form_data[{{$item.Field}}] = "on";
        } else {
            form_data[{{$item.Field}}] = "off";
        }
        {{end}}

        {{end}}

        console.log(form_data);
        $.post('{{.prefix}}/{{.path}}/ajaxupdate', form_data, function (out) {
            if (out.status == 0) {
                layer.msg("操作成功",{icon: 1},function () {
                    window.location.reload();
                    // window.location.href="{{.prefix}}/{{.path}}/list";
                })
            } else {
                layer.msg(out.message, {icon: 2})
            }
        }, "json");
        return false;
    });
    form.on('submit(sub-and-close)', function(data){
        var form_data = data.field;
        {{range $i, $item := .display}}
        
        {{if eq $item.DBType $.DisplayType.M2M}}
        var srcValues = transfer.getData({{$item.Field}});
        var destValues = []
        for (i=0; i<srcValues.length; i++) {
            destValues.push(srcValues[i].value);
        }
        form_data[{{$item.Field}}] = destValues;
        {{end}}

        {{if eq $item.DBType $.DisplayType.Time}}
        var time = data.field[{{$item.Field}}].split(":");
        form_data[{{$item.Field}}] = parseInt(time[0])*3600 + parseInt(time[1])*60 + parseInt(time[2]);
        {{end}}

        {{if eq $item.DBType $.DisplayType.Bool}}
        if (document.getElementById({{$item.Field}}).checked) {
            form_data[{{$item.Field}}] = "on";
        } else {
            form_data[{{$item.Field}}] = "off";
        }
        {{end}}

        {{end}}
        console.log(form_data);
        $.post('{{.prefix}}/{{.path}}/ajaxupdate', form_data, function (out) {
            if (out.status == 0) {
                layer.msg("操作成功",{icon: 1},function () {
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭   
                    // window.location.href="{{.prefix}}/{{.path}}/list";
                })
            } else {
                layer.msg(out.message, {icon: 2})
            }
        }, "json");
        return false;
    });

    form.render();
}); 
</script>
